.metadata
.recommenders
RemoteSystemsTempFiles
Servers
target
classes
bin
libs
logs
*.db
*.iml
*.log
*.class
.classpath
.settings*
.project
.idea
*.DS_Store
WEB-INF/classes/
*/org.eclipse.wst.common.component
